#!/bin/bash
#SBATCH -p reg
#SBATCH -C ceph
#SBATCH --nodes=1
#SBATCH --ntasks-per-node=16
#SBATCH --cpus-per-task=1


cd "$SLURM_SUBMIT_DIR"

echo running
source /usr/modules/init/bash
module load quantum-espresso
module load openmpi/2.1.6
mpirun -np 16 pw.x <Cuslab.scf.in> Cuslab.scf.out
sleep 30
echo finished
